.lower-title {
  font-size: 10px;
}

.hover-card:hover {
  background: rgba(131, 205, 255, 0.95);
  font-weight: 600;
}
@media print {
  .page-break {
    page-break-after: always;
  }
}
.plus-btn:hover {
  background: rgba(131, 205, 255, 0.95);
}

.max-w-2xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
  div {
 
    position: relative;
    z-index: 9999999999;
    width: 100%;
  }
}

.container-fighter {
  width: 100%;
  box-shadow: inset 0px 0px 2px 0px;
  padding: 10px;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlighted {
  border: solid 2px #585955;
  box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.winner {
  border: solid 2px #fff67a !important;
}
