.lower-title {
  font-size: 10px;
}

.hover-card:hover {
  background: rgba(131, 205, 255, 0.95);
  font-weight: 600;
}

.plus-btn:hover {
  background: rgba(131, 205, 255, 0.95);
}

.container-fighter {
  width: 100%;
  box-shadow: inset 0px 0px 2px 0px;
  padding: 10px;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlighted {
  border: solid 2px #585955;
  box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.winner {
  border: solid 2px #fff67a !important;
}
