@tailwind base;
@tailwind components;
@tailwind utilities;

body,
hml {
  font-family: 'Montserrat' !important;
  font-style: normal;
}

.shadow {
  -webkit-box-shadow: -2px 3px 24px 0px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -2px 3px 24px 0px rgba(0, 0, 0, 0.68);
  box-shadow: -2px 3px 24px 0px rgba(0, 0, 0, 0.68);
}
